PORT=3000
MONGO_URI=your_mongodb_connection_string
EMAIL_USER=your_gmail_address
EMAIL_PASS=your_gmail_app_password
JWT_SECRET=your_jwt_secret_key
RAZORPAY_KEY_ID=your_RAZORPAY_KEY_ID
RAZORPAY_KEY_SECRET=your_RAZORPAY_KEY_SECRET
GROQ_API_KEY=your_groq_api_key
# FOR FRONTED
VITE_RAZORPAY_KEY_ID=your_RAZORPAY_KEY_ID
VITE_BASE_URL=Your_Backend_URL
